
* {
    margin: 0;
    padding: 0;
}

body {
    background: #F4F4F4;
}

.container {
    width: 100%;
}

.header {
    background: #fff;
    height: 40px;
    border-bottom: 2px solid #e0e0e0;
}

.headerInner {

    width: 60%;
    margin: auto;
    line-height: 40px;
    text-align: center;
}

.innerContainer {
    transform: scale(0);
    -ms-transform: scale(0); /* IE 9 */
    -moz-transform: scale(0); /* Firefox */
    -webkit-transform: scale(0); /* Safari 和 Chrome */
    -o-transform: scale(0); /* Opera */
    transition: all 1s;
    -moz-transition: all 1s; /* Firefox 4 */
    -webkit-transition: all 1s; /* Safari 和 Chrome */
    -o-transition: all 1s; /* Opera */
    background: #fff;
    margin: 100px auto 0;
    width: 300px;

    border: 5px solid #e0e0e0;
    border-radius: 8px;
}

.innerHeader {
    text-align: center;
    font-size: 20px;
    padding: 0px 0 7px 0;
    border-bottom: 4px solid #e0e0e0;
}

.innerContent {

    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}

.innerFooter {
    border-top: 4px solid #e0e0e0;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.homeButton {
    margin: auto;
    width: 30px;
    height: 20px;
    border-radius: 10px;
    border: 3px solid #e0e0e0;
}

.scale1 {

    transform: scale(1);
    -ms-transform: scale(1); /* IE 9 */
    -moz-transform: scale(1); /* Firefox */
    -webkit-transform: scale(1); /* Safari 和 Chrome */
    -o-transform: scale(1); /* Opera */
}

.item {

    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}